<ng-template #confirmDelete>
  <mat-dialog-content>
    <h4 class="mat-title">
      Transaction ID
    </h4>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum, illum?
  </mat-dialog-content>
  <div mat-dialog-actions>
    <button mat-button color="warn" mat-dialog-close>close</button>
  </div>
</ng-template>
<mat-tab-group>
  <mat-tab label="Simple usage">
    <mat-card>
      <mat-card-title>
        Simple usage
      </mat-card-title>
      <mat-card-content>
        <mat-advanced-table
          [data]="data$ | async"
          [columns]="columns"
          [options]="{ stickyHeader: true, height: 600 }"
        >
        </mat-advanced-table>
      </mat-card-content>
    </mat-card>
  </mat-tab>
  <mat-tab label="Custom template">
    <mat-card>
      <mat-card-title>
        Simple usage
      </mat-card-title>
      <mat-card-content>
        <mat-advanced-table
          [data]="data$ | async"
          [columns]="columns"
          [options]="{ actions: true, stickyHeader: true, height: 600 }"
        >
          <ng-template #loading>
            <mat-progress-bar mode="indeterminate"> </mat-progress-bar>
          </ng-template>
          <ng-template #empty>
            <mat-icon>announcement</mat-icon>
            <span class="mat-caption">
              There is not data yet
            </span>
          </ng-template>

          <ng-template [matATCellTemplate]="'actions'">
            <button mat-icon-button (click)="viewTransaction()">
              <mat-icon>pageview </mat-icon>
            </button>
          </ng-template>
          <ng-template [matATCellTemplate]="'country'" let-country>
            <img
              *ngIf="countryFlags$ | async as flags"
              [src]="flags[country]"
              width="100px"
              alt=""
            />
          </ng-template>
          <ng-template [matATCellTemplate]="'location'" let-location>
            <img
              [src]="
                'https://maps.googleapis.com/maps/api/staticmap?key=' +
                  gapiKey +
                  '&center=' +
                  location.lat +
                  ',' +
                  location.long +
                  '&size=200x300' | safe: 'resourceUrl'
              "
            />
          </ng-template>
        </mat-advanced-table>
      </mat-card-content>
    </mat-card>
  </mat-tab>
</mat-tab-group>
