language: node_js

node_js:
  - 10
dist: trusty
branches:
  only:
    - master
addons:
  chrome: stable
cache:
  directories:
    - $HOME/.npm
before_install:
  - npm i -g @angular/cli@7.0.5
install:
  - npm rebuild node-sass
  - npm ci
script:
  - npm run ci
deploy:
  provider: script
  cleanup: false
  script: npx semantic-release
